# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Others
*.sqlite3
