{% extends "base.html" %}

{% block title %}Contact | M.G Web Design{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-left">
        <form class="contact-form" action="/contact" method="POST">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                 <div class="flash-messages">
                    {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


            <h2>Contact Me</h2>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone">
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>

            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>

    <div class="contact-right">
        <h2>Let's Build Something Amazing Together!</h2>
        <p>From responsive designs to SEO-friendly websites, I make sure your online presence is strong, modern, and tailored to your brand.</p>
    </div>
</section>
{% endblock %}
